<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/w3.css"  rel="stylesheet" type="text/css" />
    <title>Reuninap</title>

  </head>
  <body>
    <div style="display:none" id="app">
 
 
    <div  v-if="!onGame&&titre"  class="w3-container w3-red w3-monospace">
  <h1 v-if="titre" >{{titre}}</h1> 
  <p v-if="slogan">{{slogan}}</p> 
</div>

<div class="w3-auto pa">

  <cartes v-for="car in carte"  :nom="car" v-on:essai_carte=tryCard></cartes>


    

  </div>
  <div v-if="!onGame" class="w3-auto">
    <button  class="w3-border w3-border-deep-orange w3-btn btn-centre" v-on:click="createCarte(niveau)">Commencer la partie</button>
  </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script  src="js/app.js" ></script>
  </body>
</html>