<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/w3.css"  rel="stylesheet" type="text/css" />
    <title>Reuninap</title>

  </head>
  <body>
    <div style="display:none" id="app">
 <img src="" id="preload" style="display:none" />
 
    <div  v-if="!onGame&&titre"  class="w3-container red-carte w3-monospace">
  <h1 v-if="titre" >{{titre}}</h1> 
  <p v-if="slogan">{{slogan}}</p> 
</div>

<div class="w3-auto pa">

<div v-if="onGame" class="bars">
  <div class="bar-vie-block" >
  <img  :src="'img/heart'+ vieInOff + '.svg'" class="coeur-vie"/> 
  <div  :class="'bar-vie'+ vieInOff" >
  <div :style="{width: vie + '%'}"></div>
  </div>
</div>
<div class="bar-time-block" style="margin-left:5%;">
  <img  :src="'img/hourglass'+ timeInOff + '.svg'" class="sablier-time"/>
  <div  :class="'bar-time'+ timeInOff" >
   <div :style="{width: temps + '%'}"></div>
  </div>
</div>
</div>
  <cartes v-for="car in carte"  :nom="car" v-on:essai_carte=tryCard></cartes>


    

  </div>
  <div v-if="!onGame" class="w3-auto">
    <div class="centre"><h3>Vous êtes au niveau {{ niveau }} </h3></div>
    <button  class="w3-border w3-border-deep-orange w3-btn centre" v-on:click="createCarte(nbrCarte)">Commencer la partie</button>
  </div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script  src="js/app.js" ></script>
  </body>
</html>