<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/w3.css"  rel="stylesheet" type="text/css" />
    <link rel="preload" href="fonts/FOO.ttf" as="font">
    <title>Memoire Flash</title>

  </head>
  <body>
    <div style="display:none;background-color:  #f5c74e;height: 100vh;" id="app">
 
 


<div  v-if="onGame" class="w3-auto pa">

<div class="bars">
  <div class="bar-vie-block" >
  <img  :src="'img/heart'+ vieInOff + '.svg'" class="coeur-vie"/> 
  <div  :class="'bar-vie'+ vieInOff" >
  <div :style="{width: vie + '%'}"></div>
  </div>
</div>
<div class="bar-time-block" style="margin-left:5%;">
  <img  :src="'img/hourglass'+ timeInOff + '.svg'" class="sablier-time"/>
  <div  :class="'bar-time'+ timeInOff" >
   <div :style="{width: temps + '%'}"></div>
  </div>
</div>
</div>

  <cartes v-for="car in carte"  :nom="car" :size_carte="nbrCarte" :carte="carteActive" v-on:essai_carte=tryCard></cartes>


    

  </div>

  <div v-if="!onGame" class="home">
    <img src="img/logo-memoire.png" class="logo" />
  
     
      <h3 v-if="niveau"><b>Niveau {{ niveau }}</b></h3>
    
    <button  class="btn_play" v-on:click="createCarte(nbrCarte)"><b>commencer la partie</b></button><br />

    <dos_cartes v-for="dosCar in dosCarte"  :nom="dosCar" :niveau="niveau" :carte="carteActive" v-on:set_carte=setDosCarte></dos_cartes>

  </div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script  src="js/app.js" ></script>
  </body>
</html>